{% extends 'base/base.html' %}
{% block banner%}
<section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-7">
            <img src="{{ url_for('static', filename=book.avatar) }}" width="500" height="700"  alt="{{book.name}}">
          </div>
          <div class="col-lg-5">
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5> Tên :</h5>
              <p>{{book.name}}</p>
            </div>
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Thể Loại : </h5>
              <p><a href="#">{{book.nametl}}</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Tác Giả :</h5>
              <p>{{book.nametg}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5> Giá :</h5>
              <p>{{ "{:,.0f}".format(book.donGia) }} VNĐ</p>
            </div>
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5> Mô Tả :</h5>
                 <p>
                  {{book.description}}
                </p>
              </div>
            <div class="text-center">
                <button class="btn btn-outline-success">
                     <a href="javascript:;" onclick="addToCart({{ book.id }}, '{{ book.name }}', {{ book.donGia }})">Đặt hàng</a>
                </button>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->
{% endblock %}